.AccountPageWelcome {
    position: absolute;
    top: 3vh;
    left: 1vw;
}

.AccountDetails {
    position: absolute;
    height: 22vh;
    width: 30vw;
    top: 15vh;
    left: 1vw;
    padding: 2vh;
    border: 1px solid black;
}

.AccountDetails .Avatar {
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    border: 1px solid black;
    position: absolute;
    margin-left: 20vw;
    margin-top: 1vh;
}

.AccountDetails .Danger {
    background-color: pink;
    color: crimson;
    border-color: crimson;
    margin-left: 1vw;
}

.AccountDetails hr {
    margin-top: 3vh;
}

.EditProfile {
    margin-left: 5vw;
    margin-top: 10vh;
}

.EditProfile .AccountPageWelcome {
    margin-left: 4vw;
}

.EditProfile .InfoInput {
    width: 20vw;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    border: 1px solid black;
}

.EditProfile .InfoInput:focus {
    outline: none;
}

.EditProfile label {
    display: block;
    margin-top: 1vh;
}

.EditProfile .Annotation {
    position: absolute;
    margin-left: 12vw;
    color: red;
}

.EditProfile Button {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 15vw;
    height: 5vh;
}

.EditProfile .Alert {
    border-color: red;
    color: red;
}

.EditProfile .AlertSpan {
    display: block;
    font-size: small;
    margin-top: 5px;
}

.SwitchEdit {
    position: absolute;
    right: 0;
    width: 15vw;
    height: 100vh;
    border-left: 1px solid black;
    padding-top: 5vh;
}

.SwitchEdit button {
    background: none;
    border: none;
    margin-left: 3vw;
    margin-top: 3vh;
    height: 5vh;
    width: 10vw;
}

.SwitchEdit button:focus {
    outline: none;
}

.SwitchEdit .Selected {
    border-left: 3px solid black;
    font-size: larger;
}

.apply-shop-owner {
    position: absolute;
    width: 25vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 45vh;
    margin-left: 1vw;
    padding: 20px;
}

.apply-shop-owner span {
    font-size: x-large;
    font-weight: bold;
    display: block;
}

.apply-shop-owner .btn {
    width: 10vw;
    height: 4vh;
    margin-top: 3vh;
}

.apply-shop-owner-bookstore .bookstore-main {
    position: absolute;
    margin: unset;
    margin-top: 45vh;
    margin-left: 1vw;
    border-radius: 15px;
}