.CollectionMainDIV {
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    border: 1px solid black;
}

.CollectionMainDIV .Head {
    display: block;
    width: 79.9vw;
    height: 7vh;
    position: absolute;
    background-color: lightgray;
}

.CollectionMainDIV .Head .SortIcon {
    width: 2vh;
    height: 2vh;
    position: absolute;
    margin-left: 1.5vw;
    margin-top: 2.5vh;
}

.CollectionMainDIV .Head select{
    width: 11vw;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border: 1px solid black;
    padding-left: 2vw;
}

.CollectionMainDIV .Body {
    display: block;
    width: 79.9vw;
    height: 73vh;
    margin-top: 7vh;
    position: absolute;
    overflow-y: auto;
}

.CollectionMainDIV .Body .NoData {
    display: block;
    text-align: center;
    margin-top: 25vh;
}

.CollectionMainDIV .Body .SingleItem {
    width: 60vw;
    height: 25vh;
    border: 1px solid black;
    margin-top: 5vh;
    margin-left: 5vw;
}

.CollectionMainDIV .Body .SingleItem .ItemImg {
    position: absolute;
    width: 20vh;
    height: 20vh;
    border: 1px solid black;
    margin-top: 2.5vh;
    margin-left: 2vw;
}

.CollectionMainDIV .Body .SingleItem .ItemDetails {
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: x-large;
}

.CollectionMainDIV .Body .SingleItem .ItemDetails span {
    display: block;
}

.CollectionMainDIV .Body .SingleItem .FunctionBtn  {
    margin-left: 15vw;
    margin-top: 2vh;
    height: 4vh;
    width: 5vw;
}

.CollectionMainDIV .Body .SingleItem .BtnNotFrist  {
    margin-left: 3vw;
}

.CollectionMainDIV .Body .SingleItem .InfoBtn  {
    width: 10vw;
}