.NotificationMainDIV {
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    background-color: rgba(211, 211, 211, 0.3);
    overflow-y: auto;
}

.NotificationMainDIV .Nothing {
    text-align: center;
    margin-top: 30vh;
}

.NotificationMainDIV .SingleNotification {
    width: 60vw;
    height: 15vh;
    margin-left: 5vw;
    margin-top: 5vh;
    border: 3px solid lightgray;
    background-color: white;
    color: limegreen;
}

.NotificationMainDIV .Unread {
    color: orangered;
}

.NotificationMainDIV .SingleNotification .AlertIcon {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 10vh;
    border: 2px solid;
    margin-top: 2.5vh;
    margin-left: 2vw;
}

.NotificationMainDIV .SingleNotification .Title {
    position: absolute;
    margin-left: 9vw;
    margin-top: 1vh;
    font-size: xx-large;
}

.NotificationMainDIV .SingleNotification .Sender {
    position: absolute;
    margin-left: 9.2vw;
    margin-top: 5.5vh;
    font-size: large;
}

.NotificationMainDIV .SingleNotification .body {
    position: absolute;
    margin-left: 9.2vw;
    margin-top: 8vh;
}

.NotificationMainDIV .SingleNotification .link {
    color: deepskyblue;
    text-decoration: underline;
}

.NotificationMainDIV .SingleNotification .link:hover {
    cursor: pointer;
}