.SearchShop {
    margin-left: 1vw;
    margin-top: 15vh;
}

.SearchShop input {
    width: 35vw;
    height: 5vh;
    padding-left: 1vw;
}

.SearchShop button {
    margin-left: 1vw;
    height: 5vh;
    width: 6vw;
}

.ShopInfo {
    margin-left: 5vw;
    margin-top: 5vh;
}

.ShopInfo a {
    display: block;
    margin-top: 3vh;
}

.ShopInfo .ShopHeader {
    height: 25vh;
    width: 70vw;
    border: 1px solid black;
}

.ShopInfo .ShopHeader h1 {
    margin-left: 4vw;
    font-size: 6vh;
    margin-top: 2.5vh;
}

.ShopInfo .ShopHeader .ShopImg {
    position: absolute;
    width: 20vw;
    height: 20vh;
    margin-left: 53vw;
    margin-top: 2.5vh;
}

.ShopInfo .ShopMainPage {
    height: 50vh;
    width: 70vw;
    border: 1px solid black;
    margin-top: 5vh;
}