.Header {
    height: calc(6vh);
    display: block;
}

.Title {
    color: white;
    margin-left: calc(3vw);
    margin-top: calc(1vh);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    position: absolute;
}

.SearchBar {
    height: calc(4vh);
    width: calc(20vw);
    margin-left: calc(10vw);
    position: absolute;
}