.MenuPage {
    height: calc(85vh);
    width: calc(15vw);
    position: absolute;
    bottom: 0;
    padding-left: calc(1vw);
}

.ContentPage {
    height: calc(97vh);
    width: calc(85vw);
    position: absolute;
    right: 0;
    top: 0;
}

.MenuPage button {
    width: calc(10vw);
    height: calc(5vh);
    text-align: left;
    margin-top: 5px;
    margin-bottom: calc(1vh);
}

.MenuPage .UnreadMsg {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: calc(9.6vw);
    background-color: red;
}

.BtnIcon {
    border: 1px solid black;
    height: calc(3vh);
    width: calc(3vh);
    border-radius: calc(3vh);
    margin-right: 10px;
}