.ResetPasswordMain {
    position: absolute;
    width: calc(40vw);
    height: calc(30vh);
    display: block;
    top: calc(20vh);
    left: calc(30vw);
    border: 1px solid black;
}

.ResetPasswordMain .Img {
    height: calc(25vh);
    width: calc(18vw);
    border: 1px solid black;
    margin-top: calc(2.5vh);
    margin-left: calc(1vw);
    margin-right: calc(1vw);
    position: absolute;
}

.ResetPasswordMain .FunctionDIV {
    margin-top: calc(2.5vh);
    height: calc(25vh);
    width: calc(20vw);
    position: absolute;
    margin-left: calc(20vw);

}

.ResetPasswordMain .FunctionDIV .Intro {
    color: red;
    height: calc(5vh);
    width: calc(20vw);
    display: block;
    margin-bottom: calc(4vh);
}

.ResetPasswordMain .FunctionDIV .AskEmail {
    color: deepskyblue;
}

.ResetPasswordMain .FunctionDIV input {
    width: calc(16vw);
}

.ResetPasswordMain .FunctionDIV .Explain {
    color: darkgreen;
    font-size: small;
}

.ResetPasswordMain .FunctionDIV Button {
    width: calc(8vw);
    margin-right: calc(1vw);
}
