.ResetPasswordMain {
    position: absolute;
    width: 40vw;
    height: 30vh;
    display: block;
    top: 20vh;
    left: 30vw;
    border: 1px solid black;
}

.ResetPasswordMain .Img {
    height: 25vh;
    width: 18vw;
    border: 1px solid black;
    margin-top: 2.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    position: absolute;
}

.ResetPasswordMain .FunctionDIV {
    margin-top: 2.5vh;
    height: 25vh;
    width: 20vw;
    position: absolute;
    margin-left: 20vw;

}

.ResetPasswordMain .FunctionDIV .Intro {
    color: red;
    height: 5vh;
    width: 20vw;
    display: block;
    margin-bottom: 4vh;
}

.ResetPasswordMain .FunctionDIV .AskEmail {
    color: deepskyblue;
}

.ResetPasswordMain .FunctionDIV input {
    width: 16vw;
}

.ResetPasswordMain .FunctionDIV .Explain {
    color: darkgreen;
    font-size: small;
}

.ResetPasswordMain .FunctionDIV Button {
    width: 8vw;
    margin-right: 1vw;
}
